@page {
    size : 130mm 195mm;
    margin: 15mm;
    /* marks: crop; */
    /* bleed: 3.18mm; */
}

@page:first {
  margin-left: 15mm;
  margin-right: 8mm;
  margin-top: 8mm;
  margin-bottom: 15mm;

}

@page:right {
  margin-left: 15mm;
  margin-right: 8mm;
  margin-top: 8mm;
  margin-bottom: 15mm;

  @bottom-right {
    content: counter(page);
    height: 10mm;
    font-size: 9pt;
  }

}

@page:left {

  margin-left: 8mm;
  margin-right: 15mm;
  margin-top: 8mm;
  margin-bottom: 15mm;

  @bottom-left {
    content: counter(page);
    height: 10mm;
    font-size: 9pt;
  }


}


@page:blank {
  margin-left: 15mm;
  margin-right: 8mm;
  margin-top: 8mm;
  margin-bottom: 15mm;

    @bottom-center {
      content: none;
    }
  }
