@media print {
  
  /* réglages du livre */
  @page {
    size: 148mm 210mm;
    margin-top: 100px;
    margin-bottom: 65px; 
    marks: crop;
    bleed: 3.18mm;
  }
  
  /* réglages des pages */
  
  /* page de droite */
  @page :right {
    margin-left: 20mm;
    margin-right: 20mm;
    
    /* folio */
    
    @top-left-corner {
      content: counter(page);
      vertical-align: top;
      padding-top: 25px; 
    }
    
    @top-left {
      content: string(chapTitle);
      vertical-align: top;
      padding-top: 25px; 
      padding-left: 50px;
    } 
  }

  /* page de gauche */
  @page :left {
    margin-left: 20mm;
    margin-right: 20mm;

    /* folio */
    @top-right-corner {
      content: counter(page);
      padding-left: 5mm;
      vertical-align: top;
      padding-top: 25px; }

    /* titre haut de page */
    @top-right {
      content: 'titre du livre';
      vertical-align: top;
      padding-top: 25px; 
      padding-right: 50px;
    } 
  }

  
  /* saut de pages */
  
  .chapter h1 {
    break-before: always;
  }

  .chapter p {
    break-after: always;
  }

  figure {
    break-inside: avoid; 
  }

  /* pages blanches */
  @page :blank {
  
    @top-left-corner {
      content: none; 
    }
  
    @top-left {
      content: none; 
    }
  
    @top-right-corner {
      content: none; 
    }
  
    @top-right {
      content: none; } 
    }
  
  /* micro typo (ne fonctionne que dans chrome) expé */
  .chapter p {
    widows: 3;
    orphans: 3; 
  }
 
  p {
    hyphens: auto; 
  }