:root {
  font-size: 16px;
  --baseline: 22px; }

* {
  font-size: 1rem;
  line-height: 22px;
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  color: currentColor;
  text-decoration: none; }

.chapter h1,
#prefatory-note h1,
#introduction h1,
#toc h1,
#colophon h1 {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: var(--baseline);
  margin-bottom: 12px;
  margin-top: calc(var(--baseline)*6);
  margin-bottom: calc(var(--baseline)*2); }

.chapter h1 + p,
#introduction h1 + p,
#prefatory-note h1 + p {
  text-indent: 0; }

/* counter */
body {
  counter-reset: chapter; }

.chapter h1 {
  counter-increment: chapter; }

.chapter h1::before {
  font-weight: normal; }

.chapter h1::before {
  font-size: 1.5rem;
  line-height: 0;
  padding-right: var(--baseline); }

p, li {
  font-family: sans-serif; }

p {
  text-align: left; }

img {
  padding: 2rem; }

@media screen {
  body {
    max-width: 70vw;
    padding-left: 15vw; }
  figure, figure img {
    max-width: 500px; } }
