/* FIGURES ---------------------------------------------------- */
figure {
  margin: 0;
  margin-top: var(--baseline);
  margin-bottom: calc(var(--baseline)*1.5);
  width: 100%;
  position: relative; }

figure img {
  width: 126%;
  max-width: auto;
  object-fit: cover;
  /* set on baseline*/
  height: calc(var(--baseline)*12.5 + 8px);
  padding-top: 10px;
  padding-bottom: 2px; }

figure figcaption {
  width: 100%;
  display: block;
  font-family: sans-serif;
  font-size: 0.7rem;
  line-height: calc(var(--baseline)*0.5);
  text-indent: 0;
  padding-top: calc(var(--baseline)*0.5); }

figure + p {
  text-indent: 0;
  /* set on baseline*/
  padding-bottom: 3px; }

/* SOME HACK ---------------------------------------------------------------------- */
/* applies this style to all figures on the left pages */
/* fill the rest of the page because the figure is at the end of the page  */
